@model LabProject.ViewModels.SearchItemViewModel
@{
    ViewData["Title"] = "Fitroom";
    Layout = "_Layout";
}
<!DOCTYPE html>

<html>
<head>
    <title>Fitroom</title>
    <link rel="stylesheet" href="~/css/buttonStyles.css" />
</head>
<body>

    <form asp-action="SearchClothes" asp-controller="Home" class="filter-form">
        <div style="display:inline-block">
            <a>Brand: </a>
            <select asp-for="BrandName">
                <option>-</option>
                @foreach (var item in ViewBag.Brands)
                {
                    <option>@item.BrandName</option>
                }
            </select>

            <a>Name: </a>
            <input type="text" asp-for="ProductName" />

            <a>Use way: </a>
            <select asp-for="UseWayName">
                <option>-</option>
                @foreach (var item in ViewBag.UseWays)
                {
                    <option>@item.WayName</option>
                }
            </select>

            <a>Min price: </a>
            <input type="number" asp-for="MinPrice" class="min-price" min="1" max="1000" />

            <a>Max price: </a>
            <input type="number" asp-for="MaxPrice" class="max-price" min="1" max="1000" />
            <input type="submit" value="Search" />
        </div>
    </form>

    @if (ViewBag.ViewProducts.Count != 0)
    {
        foreach (var item in ViewBag.ViewProducts)
        {
            <div class="product-item">
                <img src=@item.ImageUrl>
                <div class="product-list">
                    <h4>@item.Brand.BrandName @item.ModelName</h4>
                    <span class="price">@item.Price BYN</span>
                    <a href="~/Home/ShowClothes/@item.Id" class="button">Show</a>
                </div>
            </div>
        }
    }

    <div style="clear:both;">
    </div>

    <hr />

</body>
</html>
