@model IEnumerable<LabProject.Resources.Models.Shoe>
@{
    ViewData["Title"] = "Fitroom";
    Layout = "_Layout";
}
<!DOCTYPE html>

<html>
<head>
    <title>Fitroom</title>
    <link rel="stylesheet" href="~/css/buttonStyles.css" />
</head>
<body>
    
    <form class="filter-form">
        <div style="display:inline-block">
            <a>Brand: </a>
            <select>
                <option>-</option>
                @foreach (var item in ViewBag.Brands)
                {
                    <option>@item.BrandName</option>
                }
            </select>
            
            <a>Name: </a>
            <input type="text" />
            
            <a>Use way: </a>
            <select>
                <option>-</option>
                @foreach (var item in ViewBag.UseWays)
                {
                    <option>@item.WayName</option>
                }
            </select>

            <a>Min price: </a>
            <input type="number" class="min-price" min="1" max="1000"/>

            <a>Max price: </a>
            <input type="number" class="max-price" min="1" max="1000"/>
            <input type="submit" value="Search" />
        </div>
    </form>
    
    @foreach (var item in Model)
    {
        <div class="product-item">
            <img src=@item.ImageUrl>
            <div class="product-list">
                <h4>@item.Brand.BrandName @item.ModelName</h4>
                <span class="price">@item.Price BYN</span>
                <a href="~/Home/Show/@item.Id" class="button">Show</a>
            </div>
        </div>
    }

    
    <div style="clear:both;">
    </div>
    
    <hr />

</body>
</html>
