@model LabProject.Resources.Models.Shoe
@{
    ViewData["Title"] = "Fitroom";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Fitroom</title>
    <link rel="stylesheet" href="~/css/buttonStyles.css" />
</head>
<body>
    <div class="one_product">
        <img src=@Model.ImageUrl>
        <h4>@Model.Brand.BrandName @Model.ModelName</h4>
        <i>@Model.Discription</i>

        <p>Recommended use: @Model.UseWay.WayName</p>
        <p>Price: @Model.Price BYN</p>
        <p>Choose size:</p>
        <form asp-action="BuyShoe" asp-controller="Cart" asp-route-shoeid="@Model.Id">

            <input name="size" type="radio" value="38"/>
            <span>38: @Model.Amount38 pcs.</span> <br />
            <input name="size" type="radio" value="39"/>
            <span>39: @Model.Amount39 pcs.</span> <br />
            <input name="size" type="radio" value="40"/>
            <span>40: @Model.Amount40 pcs.</span> <br />
            <input name="size" type="radio" value="41"/>
            <span>41: @Model.Amount41 pcs.</span> <br />
            <input name="size" type="radio" value="42"/>
            <span>42: @Model.Amount42 pcs.</span> <br />
            <input name="size" type="radio" value="43"/>
            <span>43: @Model.Amount43 pcs.</span> <br />
            <input name="size" type="radio" value="44"/>
            <span>44: @Model.Amount44 pcs.</span> <br />
            <input name="size" type="radio" value="45"/>
            <span>45: @Model.Amount45 pcs.</span> <br />

            <p>
                <input type="submit" value="Buy" />
            </p>
        </form>
    </div>
    
</body>
</html>
