@model LabProject.Models.User
<head>
    <link rel="stylesheet" href="~/css/buttonStyles.css" />
</head>

<body>
    <h3>@Model.UserName</h3>
    <br />
    <p>Id: @Model.Id</p>
    <p>Year of birth: @Model.Year</p>
    <br />
    <div>
        <form method="get" class="editing" asp-action="Edit" asp-route-id="@Model.Id">
            <input type="submit" value="Edit" />
        </form>
        <form class="editing" asp-controller="Account" asp-action="ChangePasswordMain" asp-route-id="@Model.Id">
            <input type="submit" value="Change Password" />
        </form>
        <form class="editing" method="post" asp-controller="Account" asp-action="Logout">
            <input type="submit" value="Log out" />
        </form>
    </div>
    @if (ViewBag.management)
    {
        <br />
        <br />
        <div>
            <a asp-controller="Users" asp-action="Index" class="managing">Manage Users</a>
            <a asp-controller="Roles" asp-action="Index" class="managing">Manage Roles</a>
        </div>
    }
</body>


